body {
  font-size: 16px;
}

header,
main,
footer {
  max-width: 800px;
  margin: 0 auto;
}

header,
footer {
  border-color: 1rem solid darkolivegreen;
  padding: 1rem;
  background-color: burlywood;
  text-align: center;
}

main {
  font-family: "Noto Sans JP", sans-serif;
}

header img {
  width: 180px;
  height: auto;
}

h1 {
  font-size: 1.5rem;
  font-family: "Noto Serif", serif;
}

h2 {
  font-size: 1rem;
  margin-bottom: 0;
  font-family: "Roboto Mono", monospace;
}

hr {
  margin-top: 0;
}
