@media only screen and (min-width: 60em) {
  .container {
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
    justify-items: stretch;
    justify-content: center;
  }
  header {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  header {
    font-size: 1rem;
    grid-column: 1 / 4;
    grid-row: 1/ 2;
  }

  footer {
    grid-column: 1 / 4;
    grid-row: 3/ 4;
  }

  p {
    font-size: 1.2em;
  }
  #whitespace {
    grid-column: 1 / 2;
    grid-row: 2/ 3;
    margin-left: 2em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  #proximity {
    grid-column: 2 / 3;
    grid-row: 2/ 3;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  #alignment {
    grid-column: 3 / 4;
    grid-row: 2/ 3;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 1em;
  }

  .section img {
    width: 20em;
    height: auto;
    object-fit: contain;
  }
}
