@media only screen and (min-width: 60em) {
  .container {
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-content: space-evenly;
  }
  header {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }
  .section {
    margin: 1.5em 0;
    border-radius: 0.1em;
    border-color: black;
    border-width: 10px;
    background-color: gray;
  }
}
