@media only screen and (min-width: 47em) {
  header img {
    width: 100px;
    height: auto;
  }

  .header h1 {
    font-size: 2rem;
  }

  .motto {
    font-size: 1.3rem;
  }

  .nav-items {
    display: flex;
    margin-bottom: 0;
  }
  .nav-items a {
    border: none;
  }
  .nav-items li {
    display: block;
    flex: auto;
    text-align: center;
  }
  .nav-items li:first-child {
    display: none;
  }
}
