@media only screen and (min-width: 32.5em) {
  header img {
    width: 100px;
    height: auto;
  }

  .header h1 {
    font-size: 1.6rem;
  }

  .motto {
    font-size: 1rem;
  }

  .nav-items {
    display: flex;
    margin-bottom: 0.5em;
    padding: 0.5em 0;
  }
  .nav-items a {
    border: none;
    font-size: 1.12em;
  }
  .nav-items li {
    display: block;
    flex: auto;
    text-align: center;
  }
  .nav-items li:first-child {
    display: none;
  }

  main {
    max-width: 80%;
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .container p {
    margin: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(180, 179, 179, 0.89);
    padding: 1em;
  }

  .container p:nth-child(4) {
    margin-bottom: 1em;
  }

  footer {
    max-width: 80%;
    margin: 0 auto;
  }
}
