@media only screen and (min-width: 32.5em) {
  header img {
    width: 100px;
    height: auto;
  }

  .header h1 {
    font-size: 1.6rem;
  }

  .motto {
    font-size: 1rem;
  }

  .nav-items {
    display: flex;
    margin-bottom: 0.5em;
  }
  .nav-items a {
    border: none;
    font-size: 1.12em;
  }
  .nav-items li {
    display: block;
    flex: auto;
    text-align: center;
  }
  .nav-items li:first-child {
    display: none;
  }

  main {
    max-width: 80%;
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .comtainer h2 {
    font-size: 1.5em;
  }

  .container p:nth-child(5) {
    margin-bottom: 1em;
  }

  /* Summary */

  .summary {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
  }

  .summary h3 {
    font-size: 1.3em;
  }

  .summaryp {
    font-size: 1em;
  }

  .summarygrid p:nth-child(5) {
    margin-bottom: 0;
  }

  /*Cards*/

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .cards section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }

  .cards section img {
    grid-column: 2;
  }

  .cards section #details {
    grid-column: 1;
    margin-top: 2%rem;
  }

  .cards section:nth-child(even) img {
    grid-column: 1;
  }

  .cards section:nth-child(even) #details {
    grid-column: 2;
    grid-row: 1;
  }

  /* Location */

  .location {
    display: grid;
    grid-template-columns: auto auto;
  }
  .location-text {
    grid-column: 2;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .location-img {
    width: 100%;
    display: block;
    grid-column: 1;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .fa {
    padding: 8px;
    font-size: 25px;
    width: 25px;
  }

  /* Footer */
  footer {
    max-width: 100%;
    margin: 0 auto;
  }
}
