body {
  background-color: rgba(231, 214, 137, 0.2);
  padding: 0;
  margin: 0;
}

#banner {
  display: none;
  padding: 1em;
  background-color: rgba(255, 255, 0, 0.76);
  border: 4px solid rgba(255, 71, 71, 0.959);
}

header {
  background-color: rgba(231, 214, 137, 0.7);
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 60px;
  height: auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.header h1 {
  font-family: "Noto Serif", serif;
  font-size: 1.2rem;
  margin: 0 0 0 0.5em;
}

.motto {
  font-family: "Noto Serif", serif;
  color: rgba(3, 64, 121, 0.938);
  margin-left: 0.7em;
  font-size: 0.9rem;
}

/* Navigation Section */

nav {
  margin: 0 auto;
  background-color: rgba(202, 179, 78, 0.99);
}

.nav-items {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.nav-items li:first-child {
  display: block;
}
.nav-items li {
  display: none;
}
.nav-items a {
  display: block;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 1.6em;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.nav-items .active a {
  background-color: rgba(124, 109, 51, 0.699);
  color: rgba(255, 255, 255, 0.9);
}

.nav-items a:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-items li a:active {
  color: rgba(6, 130, 247, 0.938);
  background-color: rgba(0, 0, 0, 0.2);
}

.responsive li {
  display: block;
}

/* main */

main {
  padding: 0 2%;
  min-height: 20rem;
}

/* form */

form fieldset {
  margin: 2rem 0;
  border: 1px solid rgba(48, 92, 187, 0.959);
  border-radius: 10px;
  padding: 0.5rem 2%;
}

form legend {
  color: rgba(48, 92, 187, 0.959);
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: rgba(3, 64, 121, 0.938);
  font-size: 1rem;
}

/* footer */

footer {
  background-color: rgba(231, 214, 137, 0.7);
  text-align: center;
  padding: 0.1em;
}

footer p {
  font-size: 0.9em;
}

footer p:first-child {
  margin-bottom: 0;
}

footer p:nth-child(2) {
  margin-top: 0;
}
