@media only screen and (min-width: 50em) {
  .banner {
    background-color: pink;
  }

  .nav-items li:first-child {
    display: none;
  }
  .nav-items {
    display: flex;
    margin-bottom: 0;
  }
  .nav-items a {
    font-size: 1.7em;
  }
  .nav-items li {
    display: block;
    flex: auto;
    text-align: center;
  }
  .nav-items li:first-child {
    display: none;
  }
  .weather {
    position: absolute;
    top: 13em;
    right: 5em;
  }

  .hero-img {
    padding-top: 1em;
  }
  .joinevents {
    flex-direction: row;
  }
  .contact {
    flex-direction: row;
  }
}
