@media only screen and (min-width: 50em) {
  .largenav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logoh1 {
    justify-content: left;
  }
  nav {
    margin: 0;
    flex: 1 0 50%;
    padding-top: 1em;
  }
  header {
    flex: 1 0 40%;
  }

  .nav-items li:first-child {
    display: none;
  }
  .nav-items {
    display: flex;
    margin-bottom: 0;
  }
  .nav-items a {
    font-size: 1em;
    border-top: none;
  }
  .nav-items li {
    display: block;
    flex: auto;
    text-align: center;
  }
  .nav-items li:first-child {
    display: none;
  }
  .nav-items .active a,
  a:hover {
    border-radius: 6px;
  }

  .weather {
    position: absolute;
    top: 13em;
    right: 5em;
  }

  .hero-img {
    padding-top: 1em;
  }
  .joinevents {
    flex-direction: row;
  }
  .contact {
    flex-direction: row;
  }
}
