@media only screen and (min-width: 32.5em) {
  .banner {
    background-color: blue;
  }
  .nav-items a {
    display: block;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.2em;
  }

  .nav-items li:first-child {
    display: block;
  }

  .cards {
    flex-direction: row;
  }
}
