@media only screen and (min-width: 32.5em) {
  .nav-items a {
    display: block;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.2em;
  }

  .nav-items li:first-child {
    display: block;
  }

  .cards {
    flex-direction: row;
  }
  /* article */
  .article h3,
  p {
    position: relative;
    width: 100%;
  }

  main .article figure.article-pic {
    width: 50%;
    float: right;
  }
  .levels {
    flex-direction: row;
  }
}
