@media only screen and (min-width: 32.5em) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  header img {
    width: 80px;
  }
  header h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.2em;
  }

  .nav-list {
    display: flex;
    margin-bottom: 0;
  }
  .nav-list a {
    border: none;
    font-size: 1.12em;
    padding: 0.6em;
  }

  .nav-list li {
    display: block;
    flex: auto;
    text-align: center;
  }

  .main-p {
    font-size: 1em;
  }

  .navbar > * :nth-child(1) {
    flex: 1 1 10%;
  }
  .navbar > * :nth-child(2) {
    flex: 1 1 45%;
  }

  .navbar > * :nth-child(3) {
    flex: 1 1 45%;
  }
  .nav-list {
    text-align: right;
  }

  footer {
    flex-direction: row;
  }

  footer p {
    font-size: 0.8em;
  }
}
