/* font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif', serif;
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: rgba(231, 214, 137, 0.7);
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 60px;
  height: auto;
}

header h1 {
  font-family: "Montserrat", serif;
  font-size: 1.2em;
  margin: auto;
}

nav {
  margin: 0 auto;
  background-color: rgba(202, 179, 78, 0.99);
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

h2 {
  font-family: "Noto Serif", serif;
  font-size: 1em;
  text-align: left;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}

.nav-list a {
  display: block;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 1.3em;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.nav-list li a:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-list li a:active {
  color: rgba(6, 130, 247, 0.938);
  background-color: rgba(0, 0, 0, 0.2);
}

main {
  padding: 2em;
  background-color: rgba(245, 241, 210, 0.986);
}
p {
  font-size: 0.7em;
  font-family: "Noto Sans", sans-serif;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}

.body-image {
  max-width: 10em;
}

.audience {
  font-size: 0.7em;
  font-family: "Noto Sans", sans-serif;
  padding-bottom: 0.5em;
  padding-left: 2em;
}

.color-palette {
  background-color: rgba(255, 255, 255, 0.993);
  padding-top: 0.5em;
}

.color-palette p:first-child span {
  background-color: rgba(226, 199, 124, 0.911);
}

.color-palette p:nth-child(2) span {
  background-color: rgba(245, 241, 210, 0.986);
}

.color-palette p:nth-child(3) span {
  background-color: rgba(0, 0, 0, 0.999);
  color: rgba(255, 255, 255, 0.999);
}

.color-palette p:nth-child(4) span {
  background-color: rgba(137, 43, 226, 0.999);
  color: rgba(255, 255, 255, 0.999);
}

.color-palette p:nth-child(5) span {
  background-color: rgba(0, 0, 0, 0.999);
  color: rgba(255, 255, 255, 0.999);
}

footer {
  background-color: rgba(231, 214, 137, 0.7);
  padding: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer a:hover {
  text-decoration: underline;
  color: rgba(137, 43, 226, 0.999);
}

footer a:active {
  text-decoration: underline;
}
